.form {
  display: block;
}

.button {
  background-color: var(--accent-bg);
  border: none;
  border-radius: 4px;
  color: var(--text-h);
  font-size: 14px;
  font-weight: bold;
  padding: 8px 12px;
  min-width: 220px;
}

.button:hover {
  background-color: var(--accent-border);
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
  margin-bottom: 4px;
}

.textarea {
  border: 1px solid var(--border);
  border-radius: 4px;
  display: block;
  font-size: 16px;
  font-weight: 300;
  outline: none;
  padding: 2px 4px;
  color: var(--text-h);
  overflow-y: auto;
  width: 100%;
}

.textarea::placeholder {
  font-size: 16px;
}

.textarea:focus {
  border-color: var(--accent-border);
}